<!--The content below is only a placeholder and can be replaced.-->
<div>
  <mat-grid-list cols="4" rowHeight="5:1.5">
    <mat-grid-tile>
      <button mat-raised-button color="primary" (click)="drain()">Drain</button>{{ drain_amount }}
    </mat-grid-tile>
    <mat-grid-tile colspan="2">
      <mat-progress-bar class="essence-progress" mode="determinate" color="accent" [value]="progress/requirement*100">
      </mat-progress-bar>
      <div>
        {{ requirement }}
      </div>
    </mat-grid-tile>
    <mat-grid-tile>
      Essence: {{ essence }}
    </mat-grid-tile>
    <mat-grid-tile>
      <app-click-upgrade class="full-width" [essence]="essence" [drain_amount]="drain_amount"
                         (purchase)="purchase($event)" (drain_upgrade)="drain_upgrade($event)"></app-click-upgrade>
    </mat-grid-tile>
    <mat-grid-tile>2</mat-grid-tile>
    <mat-grid-tile>3</mat-grid-tile>
    <mat-grid-tile>4</mat-grid-tile>
  </mat-grid-list>
</div>

<router-outlet></router-outlet>
